
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/keep_style.css" type="text/css">
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">

    <title>Edit your keep</title>

</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">KeepText.com</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/keep">Your keep</a></li>
      <li><a href="/admin">Admin panel</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>

        <form action="" class="col-lg-6 .center-block" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label>Заголовок</label>
        <input type="text" name="{{ form.header.name }}" class="form-control ">
    </div>
    <div class="form-group">
        <label>Текст заметки</label>
        <textarea name="{{ form.text.name }}" class="form-control" rows="3">Вводите заметку</textarea>
        <!--<input type="text" name="{{ form.text.name }}" class="form-control">-->
    </div>
            <div class="col-lg-3"></div>
<div>
    <input type="submit"  class="btn btn-primary pull-right" value="Добавть заметку">
</div>
</form>
    </div>
</div>



<div class="container">


    {% if zametka %}
    {% for keep in zametka %}
    <div class="col-lg-3">
        <form action="{{keep.id}}/del/" class="keep_field" method="post" style="padding-top:8%; padding-left:8%; padding-bottom:15%; padding-right:5%;margin-bottom:10px;box-shadow: 0px 4px 20px -9px #000000;font-family: 'Roboto Slab', serif;">
            {% csrf_token %}
            <div style=" font-weight: 700; word-break: break-all">
                {{ keep.header }}, {{keep.time_field}}
            </div>
            <div style=" font-weight: 400; word-break: break-all">{{ keep.text }}</div>
            <input type="submit"  class="btn btn-xs pull-right" style="max-width:65px" value="Удалить">
        </form>


        </div>
    {% endfor %}
{% else %}
    <div class="col-lg-4">
    <p>No zametka are available.</p>
         </div>
{% endif %}

        <div class="col-lg-4"></div>
    </div>
    </div>


</body>
</html>